@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light: #fafafa;
  --color-gray: #6b7280;
  --color-hover-background: #eceaea;
  --color-border-Primary: #a3a3a3;
  --color-border-Secondary: #e5e5e5;
  --color-links: #1d4ed8;
  --color-success: #22c55e;
  --color-error: #ef4444;

  --color-dark: #090e0f;
  --color-hover-dark-mode-background: #12181a;
  --color-dark-mode-secondary-background: #12181a;
  --color-dark-mode-links: #3e95fe;
  --color-dark-mode-text: #a2a2a2;
}

body {
  overflow-x: hidden;
}

html.dark body {
  background-color: #090e0f;
}
